* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  background: #007bff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}

.header-social {
  width: 100%;
  padding: 10px 20px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header-social__title {
  font-size: 32px;
  margin: 0;
}

.login-form {
  display: flex;
  gap: 15px
}

.login-form__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
}

.personal-bar {
  display: flex;
  gap: 15px;
  align-items: center;
}

.personal-bar__image {
  border-radius: 50%;
  background: #ccc;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.news {
  display: grid;
  grid-template-columns: 640px 640px;
  gap: 30px;
  padding: 20px;
}

.news__item {
  background: #eee;
  padding: 20px;
}
